### Sample OpenWrt config file ###

## General
# OpenWrt version
OPENWRT_SOURCE_VER=19.07.4
# image tag for pre-built Docker image, or if building locally
IMAGE_TAG=oofnik/openwrt
# container name 
CONTAINER=openwrt_1
ROOT_PW=changeme123

## Docker network settings
# name of the WAN Docker network
WAN_NAME=openwrt-wan
# host interface which will provide the WAN link for OpenWrt
WAN_PARENT=eth0
# upstream DNS for OpenWrt
UPSTREAM_DNS_SERVER=8.8.8.8

# name of the LAN Docker network
LAN_NAME=openwrt-lan
# Host interface which will provide the LAN link for OpenWrt.
# Can be a physical interface or a VLAN of the primary interface.
# For example if WAN_PARENT is eth0, LAN_PARENT can be eth0.10 for
# VLAN 10. VLAN interface will be created if it doesn't exist.
LAN_PARENT=eth0.10
# DNS search domain for LAN DHCP clients
LAN_DOMAIN=home
# Subnet configuration for LAN network
LAN_SUBNET=192.168.16.0/24
LAN6_SUBNET=fd99:1234::/48
# Set LAN_ADDR to something other than the first available address
# in the subnet - Docker will claim this address for the host.
LAN_ADDR=192.168.16.2
# openwrt doesn't accept CIDR notation; must match LAN_SUBNET
LAN_NETMASK=255.255.255.0

## Wifi settings
WIFI_ENABLED=true
WIFI_IFACE=wlan0
WIFI_SSID=test123
WIFI_ENCRYPTION=psk2
WIFI_KEY=12345678

# Only one of the following sections at a time (5 / 2.4 GHz) are supported!
## 5GHz 802.11ac (if your hw supports it)
# WIFI_HW_MODE=11a
# WIFI_HT_MODE=VHT80
# WIFI_CHANNEL=36
## 2.4 GHz 802.11g
WIFI_HW_MODE=11g
WIFI_HT_MODE=HT20
WIFI_CHANNEL=6